* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #000000;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #000000;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #000000;
	line-height: 23px;
}

p {
 font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 font-size: 16px;
 color: #7B7573;
 line-height: 24px;
 font-weight: 400;
}

a {
 font-size: 14px;
 color: #0093B9;
 line-height: 17px;
}

.header{
	border-radius: 10px;
	background-color: #A8EEFF;
}

div.directory{
	width:200px;
	float:left;
}


div.item{
}

div.item img{
	float:left;
	width:25%;
}

div.item p{
	margin-left: 25%;
}

div.categories{

}
div.categories a{
	margin-left: 25%
}

#signinButton{
	margin-left: auto;
	margin-right: auto;
}
#result{
	margin-left: auto;
	margin-right: auto;
}
