* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
	margin-right: 15px;
	display: inline-block;
}

h3 {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 23px;
}

p {
 font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 font-size: 16px;
 color: #FFFFFF;
 line-height: 24px;
 font-weight: 400;
}

a {
 font-size: 14px;
 color: #dfd8c8;
 line-height: 17px;
 margin-right: 5px;
}

.flash{
	color: #FFFFFF;
	float: right;
}

.container{
	border: 2px solid #000000;
	border-radius: 4px;
	background-color: #a39274;
	display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25% auto 20%;
}

.header{
	position: relative;
	background-color: #252523;
	grid-column: 1/3;
	grid-row: 1;
}

.categories{
	border-left-style: solid;
	border-color: #000000;
	border-width: 2px;
	padding-left: 20px;
	padding-bottom: 50px;
	grid-column: 2;
	grid-row: 2;
}

div.directory{
	grid-column: 1;
	grid-row: 2;
}


button:hover {
    opacity: 0.8;
}


div.item{
	border-left-style: solid;
	border-color: #000000;
	border-width: 2px;
	display: grid;
	padding-left: 20px;
	padding-bottom: 50px;
}


div.categories img{
	float:left;
	grid-column: 1;
	margin-right: 20px;
}


.loginWindow{
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-radius: 4px;
	background-color: #252523;
}

/*Center the login page*/
.loginContainer{
	text-align: center;
	border: 2px solid #000000;
	border-radius: 4px;
	background-color: #a39274;
}

#page-wrap {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}


.cancelbtn {
    padding: 10px 18px;
    background-color: #FFFFFF;
}


/*google button styles*/
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 14em;
  margin: 0.1em;
  padding: 0 15px 0 40px;
  border: none;
  text-align: left;
  line-height: 29px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 12px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 3px 3px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
