{% extends "main.html" %}
{% block content %}
      	<form action="{{url_for('deleteItem', category_id=category_id, item_id=item.id)}}" method = "post">
          <div class="form-group">
            <h2>Delete {{item.name}}?</h2>
            <button type="submit" class="btn btn-default" id="submit">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
            <button type="reset" class="btn btn-default" onclick="window.location='{{url_for('showItem', item_id=item.id)}}';return false;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
          </div>
        </form>
{% endblock %}
