<!DOCTYPE html>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="header">
      <h1>Catalog Site</h1>
      <button type="button" class="btn btn-default btn-sm" onclick="window.location='{{url_for("showHome")}}'">
        <span class="glyphicon glyphicon-home"></span> Home</button>

    {% if 'username' in login_session %}
      <button type="button" class="btn btn-default btn-sm" onclick="window.location='{{url_for('gdisconnect')}}'">
        <span></span>Logout</button>
    {% else %}
      <button type="button" class="btn btn-default btn-sm" onclick="window.location='{{url_for('showLogin')}}'">
        <span></span>Click Here to Login</button>
    {% endif %}

    </div>
  </body>
</html>
