<!DOCTYPE html>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
    <div class="header">
      <h1>Catalog Site</h1>
      <span>
      <button type="button" class="btn btn-default btn-sm" onclick="window.location='{{url_for("showHome")}}'">
        <span class="glyphicon glyphicon-home"></span> Home</button>

    {% if 'username' in login_session %}
      <button type="button" class="btn btn-default btn-sm" onclick="window.location='{{url_for('disconnect')}}'">
        <span class="glyphicon glyphicon-user"></span> Logout</button>
    {% else %}
      <button id="login" type="button" class="btn btn-default btn-sm" onclick="window.location='{{url_for('showLogin')}}'">
        <span class="glyphicon glyphicon-user"></span> Click Here to Login</button>
    {% endif %}

    <span class = 'flash'>
              {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p> * {{ message }} * </p> 
            {% endfor %}
            {% endif %}
        {% endwith %}
    </span>
  </span>

    </div>
</html>
