<!DOCTYPE html>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="header">
    <h1>Catalog Site</h1>
    <button type="button" class="btn btn-default btn-sm">
      <a href="{{url_for("showHome")}}">
          <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </button>

    <div class="btn btn-default">
        {% if 'username' in login_session %}
        <a href="{{url_for('gdisconnect')}}">Logout </a>
        {% else %}
        <a href="{{url_for('showLogin')}}">Click Here to Login </a>
        {% endif %}

    </div>
  </div>
  </body>
</html>
