{% extends "main.html" %}
{% block content %}
{% include "latestitems.html" %}
    <div class="directory">
      <h2>Categories</h2>
      <div class = 'flash'>
      		      {% with messages = get_flashed_messages() %}
            {% if messages %}

              <ul>
              {% for message in messages %}
                  <li> <strong> {{ message }} </strong> </li>
              {% endfor %}
              </ul>
              {% endif %}
          {% endwith %}
      </div>
      <a id="option" href="{{url_for('addCategory')}}"> New Category </a>
      <ul>
      {% for category in categories %}
        <li>
          <a id="optionCat" href = "{{url_for('showCategory', category_id = category.id)}}">
                {{category.name}}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}
