{% extends "main.html" %}
{% block content %}
{% include "directory.html" %}
  <div class="categories">
    <h2>{{item.name}}</h2>
    {% if login_session['user_id'] == item.user_id %}
      <span>
        <a href="{{url_for('editItem', category_id=item.category_id, item_id=item.id)}}">Edit</a>
        <a href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id)}}">Delete</a>
      </span>
    {% endif %}
    </br>
    </br>
    {% if item.picture %}
      <img class="image" src="{{ url_for('get_file', filename=item.picture) }}" width=200 height=200>
    {% endif %}
      <p>{{item.description}}</p>
  </div>
{% endblock %}
